@using laui.ViewModels;
@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<div class="row">
    <div class="col-md-9">
        <h2>Search</h2>
        <p>Lipsum</p>
        
    </div>
</div>
@{
    await Html.RenderPartialAsync("Form", Model);
}