@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-9">
        <h2>Log Analytics User Interface</h2>
        <p>
            This application demonstrates how to build a custom interface to consume data from Log Analytics in real time to provide tailor-made
            views. This application includes a few use-cases:
        </p>
        <ul>
            <li>Flow-tracking (search for time based sequence of events)</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <h2><a asp-area="" asp-controller="Search" asp-action="Configure">Configure</a></h2>
        <p>
            Before you start a few things need to be done. If you already executed these steps you can go directly to search.
        </p>
        <ol>
            <li>Update the configuration options for your workspace and Azure API access</li>
            <li>Preseed you workspace</li>
        </ol>
    </div>
</div>
